# Copyright (c) 2025 Vsevolod Tsiliurik
# SPDX-License-Identifier: AGPL-3.0-or-later

# RClone RC Web GUI service
# Docs: https://rclone.org/gui/

[Unit]
Description=Rclone RC Web GUI
Documentation=https://rclone.org/gui/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# RuntimeDirectory=%N

Environment=RC_ADDR=127.0.0.1
Environment=RC_PORT=5572
# Default credentials, change in config file later
Environment=RC_FLAGS=--rc-user=admin --rc-pass=admin

# Systemd-managed paths
Environment=STATE_DIR=%S/%N
Environment=RUNTIME_DIR=%t/%N

# Config: system -> user

# Optional config files
EnvironmentFile=-%E/%N/conf.env
EnvironmentFile=-%h/.config/%N/conf.env

# ExecStart=/usr/bin/rclone rcd --rc-web-gui --rc-addr=$RC_ADDR:$RC_PORT $RC_FLAGS

ExecStart=/bin/sh -c "\
	exec /usr/bin/rclone rcd \
		--rc-web-gui \
		--rc-addr=$RC_ADDR:$RC_PORT \
		$RC_FLAGS"

# Logging
StandardOutput=journal
StandardError=journal

Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s

# Security
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=no

[Install]
WantedBy=default.target
