# Copyright (c) 2025 Vsevolod Tsiliurik
# SPDX-License-Identifier: AGPL-3.0-or-later

# Install:
# Follow README.md

[Unit]
Description=Rclone bisync timer %i

[Timer]
OnBootSec=5min
OnUnitActiveSec=20min
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target