# Copyright (c) 2025 Vsevolod Tsiliurik
# SPDX-License-Identifier: AGPL-3.0-or-later

# RClone RC Web GUI service
# Docs: https://rclone.org/gui/

[Unit]
Description=Rclone RC Web GUI
Documentation=https://rclone.org/gui/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

# Built-in defaults
Environment=RC_PORT=5572
Environment=RC_ADDR=127.0.0.1

# Systemd-managed paths
Environment=STATE_DIR=%S/%N
Environment=RUNTIME_DIR=%t/%N

# Config: system -> user
EnvironmentFile=-%E/%N/conf.env
EnvironmentFile=-%h/.config/%N/conf.env

ExecStart=/usr/bin/rclone rcd --rc-web-gui --rc-addr=${RC_ADDR}:${RC_PORT}
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s

# Security hardening
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=no

[Install]
WantedBy=default.target
