# Copyright (c) 2025 Vsevolod Tsiliurik
# SPDX-License-Identifier: AGPL-3.0-or-later

# Install:
# Follow README.md

# RClone management built-in Web GUI
# rclone rcd --rc-web-gui
# Official docs: https://rclone.org/gui/

# Run as rclone-rcd-gui.service

[Unit]
Description=Rclone RC Web GUI
Documentation=https://rclone.org/gui/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify

# Built-in defaults (fallbacks if external configs don't override)
Environment=RC_PORT=5572
Environment=RC_ADDR=127.0.0.1

# Systemd-managed paths
Environment=STATE_DIR=%S/%N
Environment=RUNTIME_DIR=%t/%N

# External user/system configurations
# NOTE: Should always come after hardcode for correct value overwrite order.
EnvironmentFile=-%E/%N/.config
EnvironmentFile=-%h/.config/%N/.config

ExecStart=/usr/bin/rclone rcd --rc-web-gui --rc-addr=${RC_ADDR}:${RC_PORT}
Restart=on-failure
RestartSec=5s
TimeoutStopSec=10s

# Security
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=no

[Install]
WantedBy=default.target
