# Copyright (c) 2025 Vsevolod Tsiliurik
# SPDX-License-Identifier: AGPL-3.0-or-later

# Rclone Bisync Timer (template unit)
# Periodic sync trigger
# Override intervals: ~/.config/systemd/user/rclone-bisync@MyRemote.timer.d/override.conf

[Unit]
Description=%p timer: Remote "%i"
Conflicts=%p@%i.path

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
