# RClone management built-in Web GUI
# 
# rclone rcd --rc-web-gui
# Official docs: https://rclone.org/gui/

# Run as rclone-rcd@user.service
# %i is username for correct permissions

[Unit]
Description=
Documentation=
# Should run after network and desktop are ready
After=
Wants=
Conflicts=

[Service]
Type=
RuntimeDirectory=
LogsDirectory=
ExecCondition=
ExecStartPre=-
ExecStart=
ExecStartPost=

[Install]
WantedBy=
